html, body{
  font-family: Avenir, 'Lato', sans-serif;
  scroll-behavior: smooth;
  height:100%;
  background-color: #1D1E18;
  color: #FFF;
  margin:0;
}

#navbar{
  background-color:#1D1E18;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  display: inline;
  z-index: 1;
  width: 100%;
}

#navbar li a{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  color: #FFF;
  font-size: 1.25rem;
  text-decoration: none;
}

#navbar li a:hover{
  color:#BBB;
}

li .navLeft{
  float: left;
}

li .navRight{
  float: right;
}

.parallax{
  background-image: url(night-min.jpg);
  height: 100%;
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

@media only screen and (max-device-width: 1024px) {
  .parallax{
    background-attachment: scroll;
  }
}

.container {
  display: flex;
  height: 100%;
}

.left-half {
  display: inline-block;
  width: 50%;
  padding: 1rem;
  background-color: #1D1E18;
  text-align:center;
  padding-top:40vh;
  font-size: 3vw;
}

@media only screen and (max-device-width: 1024px) {
  .left-half{
    font-size:4vw;
  }
}

.right-half {
  display: inline-block;
  width: 50%;
  padding: 1rem;
  background-color: #40434E;
  padding-top:40vh;
  padding-left:2vw;
}

@media only screen and (max-device-width: 1024px) {
  .mobileFirst{
    padding-top:25vh;
  }
}

@media only screen and (max-device-width: 1024px) {
  .mobileSecond{
    padding-top:30vh;
  }
}

#start{
  position: absolute;
  left: 0;
  top: 30vh;
  width: 100%;
  text-align: center;
  font-size: 10vw;
  text-shadow: 2px 2px 15px #000;
}

@media only screen and (max-device-width: 1024px) {
  #start{
    font-size:18vw;
  }
}

.body-links a:link{
  color: #BBB;
  text-decoration:none;
}

.body-links a:visited{
  color: #FFF;
}
